* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 4.5em;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 75px 0 75px;
    gap: 50px;
}

.card-item {
    width: 350px;
    height: 350px;
    padding: 25px 20px 25px 20px;
    border: 3px solid salmon;
    border-radius: 10px;
}

.card-item h2 {
    font-size: 3em;
    text-align: center;
}

.card-item p{
    margin-top: 10px;
    font-size: 1.5em;
    text-align: center;
}